body{overflow: hidden; background-color: #ffffff; } 

/*  KAYAN ÇİZGİ BAŞLANGIÇ*/
@keyframes gonder {
	from {margin-left:100%; width:300% } 
	to {margin-left:0%; width:100%; }
}
#gonderGelsin {animation-name: gonder; animation-duration: 1s; }


/*  KAYAN ÇİZGİ BAŞLANGIÇ*/
@keyframes gonder { 
	from {margin-left:100%; width:300% }
	to {margin-left:0%; width:100%; }
}

.logo{max-height: 250px; max-width: 100%; }
#gonderGelsin1{
	/*background:#000000;*/
	color:#000;
	padding:5px 10px; animation-name: gonder; animation-duration: 4s;
}
.baslik1{color: #000;}
.yazsil2{color: #000;}
.baslik1_box{/*background-color: #1b7adb;*/}